@import "tailwindcss";
@import "./theme.css";

/* ---------- GLOBAL SCROLLBAR ---------- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-main);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        135deg,
        color-mix(in oklab, var(--color-primary) 50%, var(--color-black) 40%),
        color-mix(in oklab, var(--color-secondary), var(--color-black) 40%)
    );
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        135deg,
        color-mix(in oklab, var(--color-primary), var(--color-black) 30%),
        color-mix(in oklab, var(--color-secondary), var(--color-black) 20%)
    );
}
