@import "tailwindcss";

/* ===== GLOBAL SCROLLBAR ===== */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0d1b2a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #34d399 0%, #22d3ee 50%, #a7faff 100%);
    border-radius: 12px;
    box-shadow: 
        0 0 10px #22d3ee77, 
        0 0 4px #34d39955;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #10b981, #06b6d4, #ccffff);
    box-shadow:
        0 0 12px #22d3eeaa,
        0 0 6px #34d399aa;
}
